
<h1 class="text-center shadow-sm">Ireo mandrafitra ny Birao ato amin'ny Antsan'ny MIno an'i KRIsty</h1>

<div class="carousel">

    <ngb-carousel
    #carousel
    [interval]="5000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
    >
   @for (img of images_contenu; track img; let i = $index) {
        <ng-template ngbSlide>
            <div class="carousel-caption">
                <div class="text_b shadow-sm  rounded-start">
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 mb-3" *ngFor="let elm of images_contenu">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="../../../assets/{{elm.IMG}}" alt="Card image cap">
                            <div class="card-body">
                                <p class=" text-center fs-5 card-text">
                                    <b>{{elm.Nom}}</b>
                                    <br> <br>
                                    {{elm.Poste}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="carousel-caption">
                <div class="text_b shadow-sm  rounded-start">
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4 mb-3" *ngFor="let elm of images_contenu_">
                        <div class="card">
                            <img class="card-img-top" src="../../../assets/{{elm.IMG}}" alt="Card image cap" >
                            <div class="card-body">
                                <p class=" text-center fs-5 card-text">
                                    <b>{{elm.Nom}}</b>
                                    <br> <br>
                                    {{elm.Poste}}
                                </p>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    }
    </ngb-carousel>
</div>

<div class=" card my-3 shadow-lg">
    <div class="card-img-top ">
        <img class="img-fluid" src="assets/komity/KOMITY.JPG" alt="">
    </div>
    <div class="card-body">
        <p class="text-center">Ireo komity mandrindra ny raharaha ato amin'ny Antsan'ny MIno an'I KRIsty FLM SOANATAO - Ihosy</p>
    </div>
</div>
<h1 class="fs-1 text-center border-bottom">IREO VAOMIERA</h1>

<div *ngFor="let element of vaomiera" class="row shadow-lg my-3  bg-light">

    <div class="col-md-6 m-auto">
        <p class="fs-3 p-auto text-center">{{element.Nom}}</p>
    </div>
    <div class="col-md-6">
        <img src="{{element.image}}" class="img-fluid" alt="">
    </div>

</div>

