<header class="header_section shadow-sm">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container d-flex justify-content-center">
      <a class="navbar-brand" href="index.html">
        <img style="width: 200px;" src="assets/IMG_1868.PNG" alt="">
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngClass]="{'collapse': !isNavbarExpanded, 'navbar-collapse': true}" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="">Fandraisana</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/birao">Birao</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/programa">Vaovao</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hifandray">TANTARA </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Album">HIRA</a>
            </li>
          </ul>
        </div>
        <div class="quote_btn-container  d-flex justify-content-center">
          <a href="https://www.facebook.com/AntsanMinoanKristy">
            <img width="30px" src="assets/facebook_100px.png" alt="">
          </a>
          <a href="https://www.youtube.com/channel/UCUq5Qvr0VKIr0lDZO-nHgNw">
            <img width="30px" src="assets/youtube_play_button_100px.png" alt="">
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
