<div class="row shadow vh-50" style=" 
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6978992280505952) 15%, rgba(0,212,255,1) 100%); ">
    <div class="col-md-3 p-3">
        <img src="../.././../assets/home_slide/0.JPG" class="img-fluid shadow-sm vh-50">
    </div>
    <div class="col-md-9 m-auto">
        <h1 class="fs-1 text-bold text-start text-light border-bottom border-light border-2">Antsan'ny MIno an'I KRIsty
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-0">
                    <h3 class="text-light font-monospace m-0 py-0">Mpamoron-kira : 1</h3>
                    <h3 class="text-light font-monospace m-0 py-0">Chef de choeur : 2</h3>
                    <h3 class="text-light font-monospace m-0 py-0">Tanora mpikambana : 60</h3>

                </div>
                <div class="col-md-6 m-0">
                    <h3 class="text-light font-monospace m-0 p-0">Hira : 1</h3>
                    <h3 class="text-light font-monospace m-0 p-0">Raki-kira : 2</h3>


                </div>
            </div>
        </div>
        <a class="btn btn-outline-light m-3" href="/hira?album=1">Album vol.1</a>
        <a class="btn btn-outline-light m-3" href="/hira?album=2">Album vol.2</a>

    </div>
</div>

<div class="ratio ratio-16x9 my-3">
  <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FAntsanMinoanKristy%2Fvideos%2F1636841380421954%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe></div>


      <!-- Première carte 


<div class="container mt-5 p-3 shadow-lg">
    <div class="row d-flex justify-content-center">
      <div class="col-md-3 mb-4 mx-4">
        <div class="card">
          <img src="../../../assets/photo_album/IMG_E5023.JPG" class="card-img-top" alt="Image de la carte 1">
          <div class="card-body">
            <h2 class="card-title">ALBUM vol 1</h2>
            <p class="card-text">"Lehibe ny fitiavany"</p>
            <a href="#" class="btn btn-primary">Voir plus</a>
          </div>
        </div>
      </div>-->
      <!-- Deuxième carte
      <div class="col-md-3 mb-4 mx-4">
        <div class="card">
          <img src="../../../assets/photo_album/IMG_E5024.JPG" class="card-img-top img-fluid" alt="Image de la carte 2">
          <div class="card-body">
            <h5 class="card-title">Titre de la carte 2</h5>
            <p class="card-text">Description de la carte 2</p>
            <a href="#" class="btn btn-primary">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->