<div class="row shadow vh-50" *ngIf="album_1" style=" 
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6978992280505952) 15%, rgba(0,212,255,1) 100%); ">
    <div class="col-md-3 p-3">
        <img *ngIf="album_1" src="../../../assets/photo_album/IMG_E5023.JPG" class="img-fluid shadow vh-50">

    </div>
    <div class="col-md-9 m-auto">
        <h1  class="fs-1 text-start text-light border-bottom border-light border-2">"Lehibe ny fitiavany" </h1>
    </div>
</div>

<div class="row shadow vh-50" *ngIf="album_2" style=" 
 background: rgb(247,85,85);
background: linear-gradient(90deg, rgba(247,85,85,1) 0%, rgba(179,0,0,0.7637255585828081) 53%, rgba(255,255,255,1) 100%);   ">
    <div class="col-md-3 p-3">
        <img  src="../../../assets/photo_album/IMG_E5024.JPG" class="img-fluid shadow vh-50" loading="lazy">

    </div>
    <div class="col-md-9 m-auto">
        <h1 class="fs-1 text-start text-light border-bottom border-light border-2">"Mamafaza voa tsara"</h1>
    </div>
</div>

<div class="container mt-3 shadow-sm">
    <div class="list-group">
        <a (click)="openXl(content_aoreno,elemnt)" *ngFor="let elemnt of album_video" class="list-group-item list-group-item-action d-flex gap-3 py-3 " aria-current="true">
          <img src="../../../assets/{{elemnt.image}}" loading="lazy" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h5 class="mb-0">Antsan'ny MIno an'I KRIsty</h5>
              <p class="mb-0 opacity-75">{{elemnt.titre}}</p>
            </div>
            <small class="opacity-50 text-nowrap">{{elemnt.rythme}}</small>
          </div>
        </a>
      </div>

</div>
<!--
<div class="container mt-3">
    <div class="row">
        <div *ngFor="let video of videos" class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow vh-50">
                <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
                    <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="...">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">
                        <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}</a>
                    </h5>
                    <div class="card-text text-black-50">{{video.snippet.description.slice(0, 100)}}</div>
                    <p class="card-text">{{video.snippet.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<button class="btn btn-outline-primary mb-2 me-2" (click)="openXl(content)">Extra large modal</button>
-->
<ng-template #content_aoreno let-modal>
        <div class="ratio ratio-16x9 my-3">
            <iframe src="https://www.youtube.com/embed/vxOnS2MFbpQ?si=aoNKT9_IzuK22Bll" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>          </div>
</ng-template>
