<div class="carousel">
<ngb-carousel
#carousel
[interval]="3000"
[pauseOnHover]="pauseOnHover"
[pauseOnFocus]="pauseOnFocus"
(slide)="onSlide($event)"
>
@for (img of images; track img; let i = $index) {
    <ng-template ngbSlide style="height: 600px;">
        <div class="carousel-caption">
            <div class="text_b shadow-sm rounded-start">
                <p class="h1 text-white text-start w-auto m-0 p-0  " style="font-size: 5rem;">TONGASOA . . .</p>
                <h1 class= "text-start text-dark  m-0 p-0 bg-light">"Fa ny fahasoavan'Andriamanitra no naha toy izao ahy". I Kor 15 : 10a</h1>
            </div>

        </div>
        <a href="https://www.google.fr/?q=Number+{{ i + 1 }}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper" >
                <img class="img-fluid" [src]="img" alt=" My image {{ i + 1 }} description"/>
            </div>
        </a>
    </ng-template>
}
</ngb-carousel>

<hr />

      <div class="container marketing">
        <hr class="featurette-divider">

        <div class="row featurette bg-light align-items-center">
          <div class="col-md-7 ">
            <h2 class="featurette-heading h1 text-center fs-1">Antsan'ny MIno an'i KRIsty<span class="text-muted"> (AMIKRI)</span></h2>
            <br>
            <br>
            <p class="lead fs-4 tracking-tight text-center" style="line-height: 1;">
              Ny Antsan'ny MIno an'I KRIsty no anarana iantsoana ny sampana Kristianina Tanora Loterana Malagasy(KTLM) mijoro eo anivon'ny Fiangonana Loterana Malagasy Soanatao, Fitandremana Soanatao, Fileovana Betesda Manjaka, Synodam-Paritany Horombe(SPH).<br>
            
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="assets/home_slide/IMG_4123.JPG" alt="Generic placeholder image">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->